ul {
  padding:0;
  width:780px;
  margin:20px auto}
li {
  display:inline-block;
}
li, li img {
  width: 191px;
  height: 146px;
  margin:2px 2px;
  box-shadow:#999 1px 1px 3px 1px;
  cursor: pointer;

}

.secondImg {
  position: absolute;
  margin:2px 2px;
  z-index: 0;

}
.coverImg {
  position: absolute;
  margin:2px 2px;
  z-index: 1;
}

